*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    padding: 0;
    margin:0;
}
header{
    padding:28px;
    min-height: 35vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), fixed url(img/header-main-bg.jpg);
    color: white;
    font-family: cursive;
}
header img{
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.8);
}
#notes-query{
    padding: 48px;
    margin: 0;
    list-style-type: none;
}
#notes-query li{
    padding: 18px;
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
}
#notes-query h2{
    margin: 0;
}
.inside{
    flex:1;
}
#features{
    background: linear-gradient(to right,rgba(245, 245, 245, 0.99),rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.99)), fixed url(img/header-main-bg.jpg);
    padding: 18px 66px 28px 66px;
    line-height: 1.2;
    word-spacing: 0.08rem;
    letter-spacing: 0.02rem;
}
#features h1{
    text-align: center;
}
#feature-container{
    display: flex;
    flex-wrap: wrap;
}
.feature{
    flex: 1;
    padding: 18px;
    text-align: justify;
    color: rgb(75, 75, 75);
}
.feature h4{
    text-align: center;
    color: rgb(25, 25, 25);
}
.feature div{
    margin: 12px auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.8);
}
footer{
    padding:10px 18%;
    background: rgba(40, 40, 40, 1);
    color:white;
    display: flex;
    flex-direction: row-reverse;
}
footer span{
    padding-right: 28px;
}
@media all and (max-width : 700px){
    #notes-query li{
        max-width: none;
        /* flex-direction: column; */
    }
    #feature-container{
        flex-direction: column;
    }
}