*{
    box-sizing: border-box;
    font-family: cursive;
}
body{
    padding: 0;
    margin:0;
}
header{
    padding:28px;
    min-height: 35vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), fixed url(img/header-main-bg.jpg);
    color: white;
}
#notes-query{
    height: 100vh;
    border:1px solid black;
}